/*  your css code here. If applicable */
a{
	text-decoration-line:none;
	color:black;
}

}
.player_one{
	background-color: rgb(255, 255, 255);
    padding: 50px 90px 5px 90px;
    border-radius: 1px;
}
.player_two {
    background-color: rgb(255, 255, 255);
    padding: 50px 90px 5px 90px;
    border-radius: 1px;
}


li{
list-style-type:none;
}
h1,h2{
	text-align:center;
	
}
body{
	background-color:rgb(204,204,204);
}

div{
	background-color:white;
	border:1px solid black;
	border-radius:5px;
}